/* Для переопреділення  box-sizing */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*::before,
::after {
  box-sizing: inherit;
}

* {
  outline: 1px solid rgb(241, 100, 100);
}

/*VISUAL-HIDDEN h1, h2 */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  border: 0px;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CLEAR FIX */
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: "Roboto", AdobeInvisFont, MyriadPro-Regular;
  color: darkgrey;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.container {
  width: 1110px;
  margin: 0 auto;
}

header img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0 12px;
}

/* SITE HEADER */
.page-nav {
  padding: 36px 0 30px 0;
}

.site-logo {
  display: inline-block;
}

.navigation-list {
  float: right;
  width: 412px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}
.navigation-list li {
  float: left;
}

.navigation-list a {
  display: block;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  padding: 0 15px;
}

.navigation-list a:hover,
.navigation-list a:focus {
  color: aqua;
}
img a:hover,
img a:focus {
  color: aqua;
}

/* MAIN */
main {
  background-color: #e9f0fd;
}

/* Centre section */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.centre {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("/img/front-foto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider {
  position: relative;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
}


.slider-ctrl {
  position: absolute;
  display: inline-block;
  border: none;
  width: 104px;
  height: 104px;
  background-color: #1abc9c;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.slider-ctrl:hover,
.slider-ctrl:focus {
  opacity: 0.8;
}
.slider-ctrl-prev {
  left: 0;
  background-image: url(/img/icon/left-arrow-icon.png);
  background-position: center;
  background-repeat: no-repeat;
}
.slider-ctrl-next {
  right: 0;
  background-image: url(/img/icon/right-arrow-icon.png);
  background-position: center;
  background-repeat: no-repeat;
}
.slider-pagination {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-pagination-item {
  display: inline-block;
  width: 60px;
  height: 5px;
  background-color: #b0b8b9;
}
.slider-pagination-active {
  background-color: #3498db;
}

.slides {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 740px;
}
.slides-image {
  width: 100%;
  object-fit: cover;
  height: 600px;
}

.slides-item {
  /* position: relative;
  height: 100px; */
}

.slides-desc {
  text-transform: uppercase;
  color: white;
  font-weight: normal;
}
.slides-title {
  font-size: 60px;
  letter-spacing: -1px;
}
.slides-text {
  font-size: 24px;
}

/* 
.card {
  position: relative;
  width: 1600px;
}
.centre-overlay {
  position: absolute;
  width: 50%;
  height: 600px;
  background-color: rgb(0, 0, 2);
  opacity: 0.522;
} */

.main-title-buttom {
  font-family: "Roboto", AdobeInvisFont, MyriadPro-Regular;
  font-size: 48px;
  line-height: 1.2;
  color: rgba(81, 81, 81, 255);
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 auto 30px 0;
}

.main-title-buttom:after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: rgba(26, 188, 156, 255);
  margin: 0 auto 92px;
}

/* features section */
.features {
  padding-bottom: 98px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.features-list-item {
  display: block;
  float: left;
  width: 255px;
  border: 1px solid black;
}

.features-list-item img {
  display: block;
  background-color: #e9f0fd;
}
.features-list-item h3 {
  float: left;
  width: 200px;
  line-height: 40px;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 0 12px;
  background-color: #323232;
}
.features-list-item p {
  float: right;
  line-height: 40px;
  font-size: 18px;
  margin: 0;
  text-align: center;
  width: 55px;
  background-color: #8c8c8c;
}
.features-list-item a {
  display: block;
  color: #e9f0fd;
}

.features-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

/* product-link */
.product-link {
  text-decoration: none;
}

.product-link:hover .product-name {
  background-color: rgba(26, 188, 156, 255);
}

.product-link:hover .product-price {
  background-color: rgb(35, 223, 185);
}

/* FOOTER */

footer {
  background-color: #323232;
  height: 88px;
  text-align: center;
  /* display: flex;
  align-items: center; */
}

footer span {
  color: #46bfa9;
}
footer span, p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 35px 0;
  
}


/* BUTTON */
/* .read-button {
  display: block;
  font-size: 16px;
  padding: 10px;
  background-color: rgba(26, 188, 156, 255);
  color: #ffffff;
  width: 160px;
  height: 50px;
  text-decoration: none;
  border-radius: 3px 3px 3px 3px;
  margin: 0;
  border: none;
  line-height: 28px;
  text-align: center;
} */

/* .read-button:hover {
  background-color: rgb(91, 243, 192);
} */

/* .subtitle{
  font-family: "Open Sans", AdobeInvisFont, MyriadPro-Regular;
  font-size: 18px;
  color: rgba(85, 82, 82, 255);
  font-weight: 600;
} */

/* .subtitle:after{
  content: "";
  display: block;
  width: 136px;
  height: 3px;
  background-color: rgba(26, 188, 156, 255);
  margin-top: 11px;
} */

/* MAIN / Article */
/* .article h2 {
  font-family: "Roboto", AdobeInvisFont, MyriadPro-Regular;
} 

.article-list {
  list-style: none;
  margin: 0;
  padding: 0;

} */

/* .article-list-item {
  float: left;
  width: 346px;
}
.article-list-item img {
  display: block;
}
.article-list-item h3 {
  font-size: 18px;
  padding: 12px 0;
}
.article-list-item p {
  font-size: 14px;
  padding: 12px 0;
}
.article-list-item:not(:nth-child(3n)) {
  margin-right: 36px;
} */
