.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
* {
  outline: 1px solid red;
}

/* HEADER */

.header {
  width: 960px;
  margin: 0 auto;
  padding-top: 86px;
  margin-bottom: 80px;
}

.header ul {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.header li {
  display: inline-block;
  text-transform: uppercase;
}

.header li:not(:last-child){
  margin-right: 60px;
  }

.header a {
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  font-size: 14px;
  color: #626262;
}

.header a:hover {
  color: #03a9f4;
  transition: 0.5s;
}

/* MAIN / ARTICLE */
main{
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    padding-inline-start: 0;
}

.article {
  display: inline-block;
  width: 440px;
}

.article-list {
  margin: 0;
  padding: 0;
}

.article img {
  display: block;
  margin: 0 auto 30px auto;
}

.article h3, p, span {
  margin-bottom: 33px;
  padding:0 15px;
}

.article span {
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  color: #b4ad9e;
}

.article h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

.article h3, p{
  color: #626262;
}

.article p {
  font-family: "Times New Roman", Times, serif;
}

/* BUTTON */

.load-button {
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  padding: 22px 33px;
  background-color: #fff;
  border: 1px solid #626262;
}

/*VISUAL-HIDDEN h1, h2 */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  border: 0px;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
