/* ------  ЗАГАЛЬНИХ настройок ----- */

/* * {
  outline: 1px solid rgb(241, 100, 100);
} */

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*::before,
::after {
  box-sizing: inherit;
}

/*VISUAL-HIDDEN h1, h2 */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  border: 0px;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Kaushan Script", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 1200px; /* must 1200*/
  margin: 0 auto;
}

/* CLEAR FIX  - тільки для Float*/
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

ul {
  list-style: none;
}
/* ---------------------------------------
 закінчення ЗАГАЛЬНИХ настройок 
--------------------------------------- */

/* HEADER */

header {
  background-color: blanchedalmond;
  padding-bottom: 55px;
}
.navbar {
  display: flex;
  outline: 1px solid red;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
}

.site-logo-link {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #95e1d3;
  /* border-bottom: 3px solid transparent; */
}
.ul-navigation {
  display: flex;
  min-width: 490px;
}

.li-navigation {
  font-weight: bold;
  font-size: 14px;
  color: #95e1d3;
  text-transform: uppercase;
  padding: 0 15px;
}
.ul-navigation a:hover,
.ul-navigation a:focus {
  color: red;
  border-bottom: 3px solid red;
}

/* MAIN */
main {
}

/* SECTIN - services / services-title */

.service {
  padding-top: 55px;
}

.service-title p {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  line-height: 2;
  margin: 0;
}
.service-title h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 2;
  margin: 0;
  padding: 0;
}

.service .service-title {
  text-align: center;
}
.service-title::after {
  content: "";
  display: block;
  margin: 22px auto 0 auto;
  height: 3px;
  width: 60px;
  background: #f38181;
}

/*ul - services */
.ul-service {
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 25px 0 0 0;
  
}
.li-service {
  flex-basis: 370px;
  padding-left: 94px;
  background-repeat: no-repeat;
  background-position: 30px top;
}

.li-service h3 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 0 18px 0;
}
.li-service{

}

.clock-icon {
  background-image: url(../img/header/icon/1-photography-clock.png);
}
.web-design-icon {
  background-image: url(../img/header/icon/2-web-design.png);
}
.creativity-icon {
  background-image: url(../img/header/icon/3-creativity.png);
}
.seo-icon {
  background-image: url(../img/header/icon/4-seo.png);
}
.home-icon {
  background-image: url(../img/header/icon/5-home.png);
}
.digital-icon {
  background-image: url(../img/header/icon/6-digital.png);
}