/* ------  ЗАГАЛЬНИХ настройок ----- */

/* * {
  outline: 1px solid rgb(241, 100, 100);
} */

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*::before,
::after {
  box-sizing: inherit;
}

/*VISUAL-HIDDEN h1, h2 */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  border: 0px;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Kaushan Script", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 550px; /* must 1200*/
  margin: 0 auto;
}

/* CLEAR FIX  - тільки для Float*/
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.flex {
  display: flex;
}

ul {
  list-style: none;
}
/* ---------------------------------------
 закінчення ЗАГАЛЬНИХ настройок 
--------------------------------------- */

/* HEADER */

header {
  background-color: blanchedalmond;
  
}
.navbar {
  outline: 1px solid red;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
}

.site-logo-link {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #95e1d3;
  /* border-bottom: 3px solid transparent; */
}
.ul-navigations {
  min-width: 490px;
}

.ul-navigations a {
  font-weight: bold;
  font-size: 14px;
  color: #95e1d3;
  text-transform: uppercase;
  padding: 0 15px;
}
.ul-navigations a:hover,
.ul-navigations a:focus {
  color: red;
  border-bottom: 3px solid red;

}
