/* Для переопреділення  box-sizing */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*::before,
::after {
  box-sizing: inherit;
}

/* * {
  outline: 1px solid rgb(241, 100, 100);
} */

/*VISUAL-HIDDEN h1, h2 */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  border: 0px;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CLEAR FIX */
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: "Roboto", AdobeInvisFont, MyriadPro-Regular;
  color: darkgrey;
  font-size: 14px;
  line-height: 20px;
}
.conteiner {
  width: 1110px;
  margin: 0 auto;
}

header img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0 12px;
}

/* SITE HEADER */
.page-nav {
  padding: 36px 0;
}

.site-logo {
  display: inline-block;
  vertical-align: middle;
}

.navigation-list {
  display: inline-block;
  vertical-align: middle;
  width: 1024px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  text-align: right;
}
.navigation-list li {
  display: inline-block;
}

.navigation-list a {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  padding: 0 15px;
}

.navigation-list a:hover,
.navigation-list a:focus {
  color: aqua;
}
img a:hover,
img a:focus {
  color: aqua;
}

/* MAIN / Features */
.main-title{
  font-family: "Roboto", AdobeInvisFont, MyriadPro-Regular;
  font-size: 48px;
  color: rgba(81, 81, 81, 255);
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

.main-title:after{
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: rgba(26, 188, 156, 255);
  margin: 30px auto 0;
}

main {
  width: 1110px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.features-list-item {
  display: inline-block;
  width: 255px;
}

.features-list-item img {
  display: block;
  background-color: #e9f0fd;
}
.features-list-item h3 {
  float: left;
  width: 200px;
  line-height: 40px;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0 12px;
  background-color: #323232;
}
.features-list-item p {
  float: right;
  line-height: 40px;
  font-size: 18px;
  margin: 0;
  padding: 0 12px;
  background-color: #8c8c8c;
}
.features-list-item a {
  color: #e9f0fd;
}
.features-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

/* product-link */
.product-link{
  text-decoration: none;
}

.product-link:hover .product-name{
  background-color: rgba(26, 188, 156, 255);
}

.product-link:hover .product-price{
  background-color: rgb(35, 223, 185);
}

/* MAIN / Article */
.article h2 {
  font-family: "Roboto", AdobeInvisFont, MyriadPro-Regular;

} 

.article-list {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.article-list-item {
  display: inline-block;
  width: 346px;
}
.article-list-item img {
  display: block;
}
.article-list-item h3 {
  font-size: 18px;
  padding: 12px 0;
}
.article-list-item p {
  font-size: 14px;
  padding: 12px 0;
}
.article-list-item:not(:nth-child(3n)) {
  margin-right: 36px;
}

/* BUTTON */
button {
  margin: 0;
  padding: 0;
  border: none;
}

button a {
  display: block;
  font-size: 16px;
  padding: 12px 15px;
  background-color: rgba(26, 188, 156, 255);
  color: #ffffff;
  width: 160px;
  height: 50px;
  text-decoration: none;
  border-radius: 3px 3px 3px 3px;
}
button .read-more {
  line-height: 28px;
}

.article-list-item a:hover,
.news-button:focus{
  background-color: rgb(91, 243, 192);
}


.subtitle{
  font-family: "Open Sans", AdobeInvisFont, MyriadPro-Regular;
  font-size: 18px;
  color: rgba(85, 82, 82, 255);
  font-weight: 600;
}

.subtitle:after{
  content: "";
  display: block;
  width: 136px;
  height: 3px;
  background-color: rgba(26, 188, 156, 255);
  margin-top: 11px;
}